.cart{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 150%;

    width: 300px;
    min-height: 200px;
    padding: 1rem;
    box-sizing: border-box;

    background-color: #FFD95A;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.08);
    color: #4C3D3D;
    border-radius: 7px;

    font-weight: bold;
    z-index: 111;
    
    position: absolute;
    right: 0;

}

@media screen and (max-width: 450px) {
    .cart{
        position: absolute;
        width: 90vw;
        right: -205%;
    }
}