.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--primary-font);
}

.nav li a{
    text-decoration: none;
    color: var(--secundary-color);
}