.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--primary-font);
}

.nav li a{
    text-decoration: none;
    color: var(--secundary-color);
}

.menu__hamburger{
    display: none;
}


@media screen and (max-width: 450px) {
    .header{
        padding: 1rem;
        box-sizing: border-box;
    }
    
    nav{
        position: relative;
    }

    .nav{
        display: none;
        flex-direction: column;
        align-items: start;

        position: absolute;
        right: 0;
        padding: 3rem 2.5rem;

        background-color: var(--secundary-color);
    }

    .nav li a{
        color: var(--primary-color);
        cursor: pointer;
    }

    .menu__hamburger{
        display: block;
    }
}