@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Montserrat&display=swap');

:root{
 --primary-font: 'Montserrat', sans-serif;
 --secundary-font: 'Elsie Swash Caps', cursive;

--primary-color: #FFCB47;
--secundary-color: #202020;
}

*{
  font-family: var(--primary-font);
}

.container{
  width: 100vw;
  max-width: 1100px;
  margin: auto;
}

.App {
  background: right top no-repeat url('/public/assets/background.svg');
}

@media screen and (max-width: 890px) {
  .App {
    background-size: contain;
  }
}
